<div class="modal-header">
  <h4 class="modal-title">Change password for user {{user.login}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div class="modal-body form-group">
    <label for="currentPassword">Current password</label>
    <input type="password" formControlName="currentPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.currentPassword.errors }"/>
    <div *ngIf="submitted && f.currentPassword.errors" class="invalid-feedback">
      <div *ngIf="f.currentPassword.errors.required">Current password is required</div>
      <div *ngIf="f.currentPassword.errors.pattern">Current password is incorrect</div>
    </div>
  </div>
  <div class="modal-body form-group">
    <label for="newPassword">New password</label>
    <input type="password" formControlName="newPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }"/>
    <div *ngIf="submitted && f.newPassword.errors" class="invalid-feedback">
      <div *ngIf="f.newPassword.errors.required">New password is required</div>
      <div *ngIf="f.newPassword.errors.minlength">New password must be at least 6 characters</div>
    </div>
  </div>
  <div class="modal-body form-group">
    <label for="retypedPassword">Confirm password</label>
    <input type="password" formControlName="retypedPassword" class="form-control"
           [ngClass]="{ 'is-invalid': submitted && f.retypedPassword.errors }"/>
    <div *ngIf="submitted && f.retypedPassword.errors" class="invalid-feedback">
      <div *ngIf="f.retypedPassword.errors.required">Retyped password is required</div>
      <div *ngIf="f.retypedPassword.errors.MatchPassword">Should be the same as new password</div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="form-group">
      <button class="btn btn-primary">Change</button>
      <button type="button" class="btn btn-outline-dark" (click)="closeWindow()">Close</button>
    </div>
  </div>
</form>
